.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.navigation {
  border: 5px solid black;
  border-width: 50%;
}

li{
list-style-type: none;
display: inline-block;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 20px;
font-size: 30px;
}